@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 1.5rem;
  background-image: linear-gradient(#f53b69, #f4b942);
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  display: block;
  /* margin-top: 25px; */
}
/* DEVELOPERS ADD CUSTOM CSS BELOW */

.custom-class {
  color: red;
}

 .grad1 {
  background-image: linear-gradient(180deg,#f4b942,#f53b69) !important;
 }

 .sub {
  color: white;
 }
 .font {
  font-family: helvetica
 }

 .yellow {
color:#f4b942;
 }

 .searchbutton {
  margin:auto;
  max-width:300px;
 }

.search {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

} 
form.searchbutton input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.searchbutton button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbutton button:hover {
  background: #0b7dda;
}

form.searchbutton::after {
  content: "";
  clear: both;
  display: table;
}

